.one {
  border: 0.1rem solid black;
  width: 10em;
  height: 2em;
  margin: 20px auto;
}

.two {
  border: 0.1rem solid black;
  width: 10em;
  height: 2em;
  margin: 20px auto;
}

#firstbox{
  background-color:#762215;
  text-align: center;
  font-style: bold;
  /* transform-origin: top right; */
  transform: rotate(20deg);
}

#secondbox{
  background-color:#301A4B;
  text-align: center;
  font-style: bold;
  transform: scale(0.5)
}

#thirdbox{
  background-color:#6DB1BF;
  text-align: center;
  font-style: bold;
  transform:translateX(200px);
}

#fourthbox{
  background-color:#FFEAEC;
  text-align: center;
  font-style: bold;
  transform:translate(10px,200px);
}

#fifthbox{
  background-color:#F39A9D;
  text-align: center;
  font-style: bold;
  transform: skew(30deg, 20deg)
}

#sixthbox{
  background-color:#3F6C51;
  text-align: center;
  font-style: bold;
}

#seventhbox{
  background-color:#E9D758;
  text-align: center;
  font-style: bold;
}

#eighthbox{
  background-color:#297373;
  text-align: center;
  font-style: bold;
}

#ninethbox{
  background-color:#FF8552;
  text-align: center;
  font-style: bold;
}

#tenthbox{
  background-color:#39393A;
  text-align: center;
  font-style: bold;
}